/* * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
  }
  body {
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  .logo img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  
  }
  .login{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
   
    max-width: 500px; 
    width: 100%; 
  }
  .container-login{     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#13576349;
    padding: 100px;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 #00000020;
    max-width: 500px;
    margin: 0 auto;
  
  }
  .login-title{
    font-size: 30px;
    font-weight: 600;
    color: #135763;
    margin-bottom: 4px;
  }

  .login-subtitle{
 
    font-size: 14px;
    font-weight: 400;
    color: #37808d;
  }

  .login-form{
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 18px;
  }
  .input-form{
    margin-bottom: 8px;
    width: 100%;
    padding: 8px 0 8px 32px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    
  }

  .label-form{
    margin: 0 0 1px 0;
    color: #333333;
    font-weight: 600;
  }

  .login-form i{
    color: #999999;
    font-size: 16px;
    transform:translateX(10px) translateY(42px);
     }

     .input-form:focus{
        border: 1px solid #135763;

     }

     .inputSubmit{
      width: 256px;
        border-radius: 4px ;
        font-weight: 600;
        background-color:#37808d;
        color: white;
        padding: 8px;
        cursor: pointer;
        border: none;
     } */
