* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f8ff;
  font-family: sans-serif;
  font-size: 1em;
  color: #0f3d46;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  justify-content: center;
}

.title h3 {
  font-family: sans-serif;
  color: #135763;
  font-weight: bolder;
}
h5 {
  font-family: sans-serif;
  color: #113e46;
  text-align: center;
}
.form-label {
  font-weight: bolder;
}
input {
  margin-bottom: 10px;
}
.container {
  background-color: #13576349;
  border-radius: 10px;
  max-width: 100%;
  width: 90%;
  margin: 0 auto;

  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    width: 30rem;
  }
}

@media (min-width: 992px) {
  .container {
    width: 40rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 40rem;
  }
}
button {
  background-color: #37808d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-left: 30rem;
  
}
button a {
  color: inherit; 
  text-decoration: none; 
}
button:hover {
  background-color: #55a2af; 
  transition: 0.5s;
}
