body {
  background-color: rgba(79, 149, 161, 0.2);
}

.bg-green {
  background-color: rgba(79, 149, 161, 0.2863);
}

.bg-white {
  background-color: white;
}

.text-green {
  color: #135763
}

.logo {
  width: 80px;
}

.btn-sair {
  position: absolute;
  top: 20px;
  right: 20px;
}
